<!--
Author: Ranjithprabhu K
Page Description: Skills page
Date: 13 Jan 2016
-->

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Development Stack 2</h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Skills</li>
    </ol>
</section>
<!-- Development content -->
<section class="content">
    <div class="row">
        <sk-dynaform sk-entity-name="BloqDesbloqEstoque" sk-show-add-button="true" sk-edit-unique-record="false" sk-show-copy-button="true" sk-show-remove-button="true" sk-show-save-button="false" sk-show-edit-button="true" sk-on-dynaform-loaded="ctrl.onDynaformLoaded(dynaform, dataset)"
            sk-dynaform-interceptor="ctrl" sk-datagrid-interceptor="ctrl" sk-form-interceptor="ctrl">
        </sk-dynaform>
    </div>
</section>